@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    header h1 {
        font-size: 4em;
    }
    
        header figure.logo {
        text-align: center;
        max-height: 300px;
        }
    
    nav ul {
        margin-left: 2%;
        display: inline-flex;
        flex-wrap: nowrap;
    }
    
    nav ul li a {padding: .6rem 1rem;}
    nav ul li {
        float: left;
        font-size: 1em;
    }
    
	    /*Gallery Page*/
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 1em;
		grid-column-gap: 1em;
    }
    
    main figure:hover {
        box-shadow: 7px 7px 10px rgba(0, 0, 0, .33);
    }
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}