@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005c97+1,68cef3+100 */
        background: #005c97; /* Old browsers */
        background: -moz-linear-gradient(top, #005c97 1%, #68cef3 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #005c97 1%,#68cef3 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #005c97 1%,#68cef3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c97', endColorstr='#68cef3',GradientType=0 ); /* IE6-9 */
        
    }
    
    nav button {display: none;}  /* hamburger button does not need to be shown */
    
    nav ul.hide {display: block;}
    
    nav ul {
        margin-left: 2%;
    }
    
    nav ul li {
        float: left;
        font-size: .7em;
        }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
        }

    section.forecast { display: block;}  /* show the 10-day forecast with the medium view and up */
    
    /* Gallery grid container*/
    .container {
        display: grid;
        margin: 0 2%;
        grid-template-columns: 50% 50%;
    }
    
    article figure.article_photo {
        width: 62.666%; 
        max-height: 300px;
    }
}
