@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    header h1 {
        font-size: 4em;
    }
    
        header figure.logo {
        text-align: center;
        max-height: 222px;
        }
    
    nav ul {
        margin-left: 2%;
        display: inline-flex;
        flex-wrap: nowrap;
    }
    
    nav ul li a {padding: .6rem 1rem;}
    nav ul li {
        float: left;
        font-size: 1em;
    }
    
    
    /*-------------------------- Bike Menu ------------------*/

    .bikeBrand {
        position: relative;
        left: 0px;
        padding: 0px ;
        margin: 0px;
        font-family: sans-serif;
        text-shadow:0px 0px 1px rgba(0,0,0,0.2);
        list-style: none;
        top: 10px;
        height: 600px;
    }

    .bikeBrand > li {
        position: relative;
        background: #ffffff;
        width: 1100px; /*Length of pull-tab*/
        height: 90px;
        padding: 0;
        margin-top: 2px;
        left: -1100px; /*hole that pull-tab goes in*/
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        border-right: 50px solid red;
        text-align: right;
        -webkit-transition: left 500ms;
        -moz-transition: left 500ms;
        -ms-transition: left 500ms;
        -o-transition: left 500ms;
        transition: left 500ms;
    }

    .bikeSpecs {
        list-style: none;
        width: 1048px; /*Increasing this number moves spec-sheet right*/
        margin: 0 2px;
        padding: 0 2px 0 0;
        background-color: #ffffff;
    }


    li.openSesame {
        left:-60px; /*Increasing this numberkeeps spec-sheet from coming out too far*/
    }


    /*---end of Bike Menu---*/
    
    
    
    
	    /*Gallery Page*/
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 1em;
		grid-column-gap: 1em;
    }
    
    .tours_container {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .tours {
        width: 750px;
        height: 500px;
    }
    
    #serviceTable{
        display: flex;
        flex-direction: row;
    }
    
    table.gridtable {
        min-width: 300px;
        max-width: 400px;
    }

    
    
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}