@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    nav ul li a {padding: .6rem 1rem;}
    
}
article figure.article_photo img{
    float: right;
    padding: 0 2% 2% 0;
    max-height: 300px;
}