/* This main css file contains the default rules and is geared toward the small/phone view */
* { box-sizing: border-box; border: 0px;  margin: 0; padding: 0;}  /* This wildcard applies to all elements ensuring a box layout model */
body {
    font-size: 16px;
    /* Declare the base font-family - from google font api or other */
    font-family: arial;
    background-color: white;
}
header, nav, main, table, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}
header {
    padding; 2%;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    }
    header h1 {
        margin: 2%;
        position: relative;
        text-align: center;
        }
    header figure.logo {
        margin: 2%;
        width: 30%;
        float: left;
        }
    header figure.logo img{
        width: 100%;
        }
    header .subheading {
        position: relative;
        }
nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005c97+1,68cef3+100 */
    background: #005c97; /* Old browsers */
    background: -moz-linear-gradient(top, #005c97 1%, #68cef3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #005c97 1%,#68cef3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #005c97 1%,#68cef3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c97', endColorstr='#68cef3',GradientType=0 ); /* IE6-9 */    
    font-family: Verdana, sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fff;
}


nav ul li {
    color: black;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3)
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}
nav ul.hide {display: none;}

nav img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
main {}
    main h2 {
        text-align: center;
    }
    main figure.franklin { 
        margin: 0 0 .2rem 2%;
        width: 96%;
    }
        main figure.franklin img { 
            width: 100%;
            height: auto;
        }
section {
    display: block;
    text-align: center;
    position: relative;
    margin: 10px;
}
section div {
    margin: 2%;
    text-align: center;
}
section.summary table td {
    width: 50%;
}
figure.weather_icon {
    width: 50%;
    max-width: 500px;
    margin: 0;
}
section figure.weather_icon img {
    width: 100%;
    /*position: absolute;
    right: 5%;
    bottom: 5%;
    left: 70%;*/
}
table {
    width: 100%;
    margin: 0;
    padding: 0;
}
.forecast {
    position: relative;
    width: 100%;
    padding: 1% 1% 0 0;
    text-align: center;
    border: 1px;
    border-color: gray;
    border-style: solid;
    border-bottom: none;
    background-color: darkgray;
}
.forecast th{
    width: 10%;
    padding: 1%;
    margin: 0;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
}
    .forecast td{
        margin: 0;
        padding: 1%;
        width: 10%;
        text-align: center;
        border-top-width: thin;
        border-top: 1px gray;
        border-right: 1px gray;
        border-bottom: 0;
        border-left: 1px gray;
        border-style: solid;
        background-color: lightgray;    
    }
article h3 {
    text-align: center;
    margin: 2%;
}
article {
    margin: 2%;
}
article figure.article_photo {
    width: 60%;
    height: auto;
    margin: 2%;
    float: right;
}
article figure.article_photo img {  
    width: 100%;/* fill the page in the small/phone view */
}
footer {
    text-align: center;
}
    footer aside {
        background-color: skyblue;
        padding: 5px;
        font-size: .8em;
    }
    footer .footer-bar {
        padding: 5px;
        background-color: darkblue;
        color: white;
        font-size: .7em;
    }
    footer>p {} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
@media only screen and (max-width: 600px) {
    .forecast {
        display: none;
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
}